" 加载配置文件
nnoremap <leader>sv :source ~/.ideavimrc<cr>

" -----插件--开始
set incsearch
set ideamarks
set showmode
set NERDTree
set surround
set showcmd
set wildmenu
set visualbell
set easymotion
set sneak
set ideaput
" -----插件--结束

set showmatch
set which-key
set notimeout
set smartcase
set ignorecase
set showcmd
set clipboard+=unnamed

" leader映射键
let mapleader=" "

" -----默认配置--开始---
set scrolloff=25 "自动居中
set number relativenumber "相对行号
set clipboard=unnamed
set virtualedit=onemore
" normal模式自动英文
set keep-english-in-normal
" highlight LeaderTab guifg=#666666
set clipboard+=unnamed
" -----默认配置--结束---

" 切换normal模式 使用率90%
inoremap jj <Esc> 

" class内常用操作
nmap <Space><CR> :action GotoNextError<CR>  "跳转到下一个错误或者警告,使用率70%
nmap ma <action>(ToggleBookmark) "切换书签

" 模拟 Emacs 键绑定, 主要是使用emacs 输入模式 Move的方式
inoremap <C-a> <Home>
inoremap <C-e> <End>
inoremap <C-b> <Left>
inoremap <C-f> <Right>
inoremap <C-p> <Up>
inoremap <C-n> <Down>
" 交互两行代码
nnoremap <C-j> :m +1<CR>
nnoremap <C-k> :m -2<CR>
inoremap <C-j> <Esc> :m +1<CR>gi
inoremap <C-k> <Esc> :m -2<CR>gi

" easy-motion 快速跳转，重点使用功能，不支持非递归映射(nnoremap)
" 说明文档: https://github.com/easymotion/vim-easymotion/blob/master/doc/easymotion.txt#L86
" 搜索指定字符
map ss <Plug>(easymotion-bd-f)
" 全局搜索
map ff <Plug>(easymotion-bd-w)
" 多行跳转
map ll <Plug>(easymotion-bd-jk)

" idea 搜索
nnoremap <C-g> :action FindInPath<CR>
nnoremap <C-r> :action Replace<CR>

nnoremap <C-e> :action RecentFiles<CR>
" nnoremap gc :action GotoClass<CR>
nnoremap ji :action GotoImplementation<CR>
nnoremap fu :action FindUsages<CR>
nnoremap su :action ShowUsages<CR>
nnoremap st :action FileStructurePopup<CR>
nnoremap gb :action Back<CR>
nnoremap gf :action Forward<CR>

" tabs switch
nnoremap fb :action Switcher<CR>
" 上一个tab
nnoremap bb :action PreviousTab<CR>
" 下一个tab
nnoremap bn :action NextTab<CR>
" 切换下一个项目
noremap ,m :action NextProjectWindow<CR>

nnoremap <Leader>z :action ToggleZenMode<CR> " 全屏
nnoremap <leader>h :action HideAllWindows<CR> " 隐藏所有的窗口
nnoremap <leader>c :action HideActiveWindow<CR> " 隐藏当前激活的窗口

" 窗口切换
nnoremap ,h <C-w>h
nnoremap ,l <C-w>l
nnoremap ,l <C-w>j
nnoremap ,k <C-w>k

nnoremap <Leader>fm :action ReformatCode<CR> " 格式化代码

" NERDTree
nnoremap <leader>o :NERDTreeFocus<CR>
nnoremap <c-1> :NERDTreeToggle<CR>
nnoremap <leader>tw :NERDTreeFind<CR>
nnoremap <leader>e :NERDTreeToggle<CR>

" 注释
nnoremap <leader>/ :action CommentByLineComment<cr>
vmap <leader>/ :action CommentByLineComment<cr>
