" 加载配置文件
" nnoremap <Space>sv :source ~/.ideavimrc<cr>

let mapleader=" "
set number relativenumber
set clipboard=unnamed
set virtualedit=onemore
set incsearch
set ideamarks
set showmode
set NERDTree
set surround
set wildmenu
set visualbell
set easymotion
set sneak

" easy-motion 
" nmap <Leader>f <Plug>(easymotion-overwin-f)
" map  <Leader>j <Plug>(easymotion-jumptoanywhere)
" 快速跳转到行、单词(词的密度太大了，应该用搜索比较好)
" map <Leader>l <Plug>(easymotion-lineanywhere)
" map <Leader>w <Plug>(easymotion-iskeyword-w)    
" 搜索（但是搜索内容没有显示在状态栏）
map ff <Plug>(easymotion-bd-f)

" 全局快速搜索
nnoremap sf :action SearchEverywhere<CR>
nnoremap fp :action FindInPath<CR>
" 最近打开的文件，要适配输入模式
nnoremap <Leader>e :action RecentFiles<CR>
" 快速进入class
" nnoremap gc :action GotoClass<CR>
" 快速进入某个实现
nnoremap gi :action GotoImplementation<CR>
" 查看使用者
nnoremap fu :action FindUsages<CR>
nnoremap su :action ShowUsages<CR>
" 展示类结构(structure)
nnoremap st :action FileStructurePopup<CR>
" 最后修改的地方(last change)
nnoremap lc :action JumpToLastChange<CR>
" 快速返回
nnoremap gb :action Back<CR>
nnoremap gf :action Forward<CR>
" tabs switch
nnoremap fb :action Switcher<CR>

" 上一个tab
nnoremap bb :action PreviousTab<CR>
" 下一个tab
nnoremap bn :action NextTab<CR>

" 按单词跳转
map w ]w
map <C-s> :w<CR>
    
" 快速激活左侧项目窗口
nnoremap <C-n> :action ActivateProjectToolWindow<CR>
" 全屏
nnoremap <Leader>z :action ToggleZenMode<CR>
" 隐藏所有的窗口
nnoremap <Leader>h :action HideAllWindows<CR>

nnoremap <C-h> <C-w>h
nnoremap <C-l> <C-w>l
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k

" 格式化代码
nnoremap <Leader>fm :action ReformatCode<CR>
" 关闭页面
nnoremap <leader>x :action CloseEditor<CR>
" 新建文件
nnoremap <leader>nf :action NewFile<CR>

" 快速进入当前类的父类，不需要选中类名。
nnoremap sc :action GotoSuperMethod<CR>

" 需求
" 1、不需要进入某个类就可以使用搜索相关的功能，目前是必须要进入一个类才能使用find。
